<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <h2 class="mt-10 text-center text-2xl/9 font-bold tracking-tight text-gray-900">Зарегистрироваться</h2>
  </div>
    <%= form_with model:@user do |f| %>
      <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
        <%= f.label :email, "Email", class: "space-y-6" %>
        <div class="mt-2">
            <%= f.email_field :email, required: true, class:"block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6" %>
        </div>
      </div>

      <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
        <%= f.label :name, "Ник", class:"block text-sm/6 font-medium text-gray-900"%>
        <div class="mt-2">
            <%= f.text_field :name, required: true, class:"block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6" %>
        </div>
      </div>

      <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
        <%= f.label :password, "Пароль", class:"block text-sm/6 font-medium text-gray-900"%>
        <div class="mt-2">
            <%= f.password_field :password, required: true, class:"block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6"%>
        </div>
      </div>

      <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
        <%= f.label :password_confirmation, "Снова пароль", class:"block text-sm/6 font-medium text-gray-900"%>
        <div class="mt-2">
            <%= f.password_field :password_confirmation, required: true, class:"block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6"%>
        </div>
      </div>
      <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
        <%= f.submit "Регистрация", class: "flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm/6 font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"%>
      </div>
      <%end%>
      <div class="mt-6 text-center">
        <span class="text-sm text-gray-500">
        Есть аккаунт?
        <%=link_to "Войти", new_session_path, class:"font-semibold text-indigo-600 hover:text-indigo-500"%>
        </span>
    </div>
</div>
